.campo_login{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}
.campo_login .formulario{
    width: 30vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border: 2px solid;
    align-items: center;
    border-radius: 15px;
}
.icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    margin-left: 18%;
    margin-top: 1.5%;
    cursor: pointer;
}