.conteudo_quem_somos{
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
    font-size: 20px;
    background-color: cornflowerblue;
}
.paragrafo{
    width: 80vw;
    text-align: justify;
    align-self: center  ;
}