.campo_cadastro{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    background-color: cornflowerblue;
}
.campo_cadastro .formulario{
    height: 65vh;
    width: 25vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border: 2px solid;
    border-radius: 15px;
}
.checkbox{
    width: 20vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
}
.icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    margin-left: 18%;
    margin-top: 1.2%;
    cursor: pointer;
}